.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10vh; 
  width: 100vw;
  height: 100vh; 
}

.loading-container h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: max(5vw, 120px); 
  color: black;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 3px black;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: flex-end; 
  gap: 6px;
  height: 50vh; 
}

.loader-img {
  width: 10vw; 
  object-fit: cover;
  height: 0; 
  border-radius: 10px;
  animation: loading 4s infinite; 
}

.loader-img:nth-child(2) { animation-delay: 0.15s; }
.loader-img:nth-child(3) { animation-delay: 0.3s; }
.loader-img:nth-child(4) { animation-delay: 0.45s; }
.loader-img:nth-child(5) { animation-delay: 0.6s; }
.loader-img:nth-child(6) { animation-delay: 0.75s; }
.loader-img:nth-child(7) { animation-delay: 0.9s; }
.loader-img:nth-child(8) { animation-delay: 1.05s; }

@keyframes loading {
  0% {
    height: 0;
  }
  25% { 
    height: 50vh;
  }
  75% { 
    height: 50vh; 
  }
  100% {
    height: 0;
  }
}


@media (max-width: 768px) {
  .loader-img {
    width: 15vw;
  }
}

@media (max-width: 480px) {
  .loader-img {
    width: 20vw; 
  }
  .img-none{
    display: none;
  }
  .loading-container h1 {
    font-size: 10vw; 
  }
}
